
rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    function isSignedIn() {
      return request.auth != null;
    }

    function isOwner(userId) {
      return isSignedIn() && request.auth.uid == userId;
    }

    match /users/{userId} {
      allow get, list: if isOwner(userId);
      allow create: if isOwner(userId) && request.resource.data.id == userId;
      allow update: if isOwner(userId) && request.resource.data.id == resource.data.id;
      allow delete: if isOwner(userId);
    }

    match /transactions/{transactionId} {
      // Users can read their own transactions
      allow get, list: if isSignedIn() && resource.data.userId == request.auth.uid;
      
      // Users can create a transaction record for themselves
      allow create: if isSignedIn() && request.resource.data.userId == request.auth.uid;
      
      // Transactions should be immutable
      allow update, delete: if false;
    }
  }
}
